.main-container{
  display: flex;
}
.songs-container{
  width: 68%;
  padding: 80px 100px;
  background: rgb(243, 240, 240);
}
.site-header img{
  width: 100px;
}
@media screen and (max-width: 567px) {
  .main-container{
    flex-direction: column;
    justify-content: center;
  }
  .songs-container{
    width: 80%;
    margin: 0 auto;
    padding: 40px 50px;
  }
}