.song{
  border: 1px solid gray;
  background: rgb(236, 230, 230);
  padding: 15px;
  border-radius: 10px;
  position: relative;
  height: 440px;
}
.song img{
  width: 100%;
  border-radius: 10px;
}
.add-btn{
  position: absolute;
  bottom: 15px;
  width: 91%;
  background: rgb(101, 101, 192);
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
}