.activities{
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
}
.name{
  margin-bottom: 0px;
}
.title{
  margin-top: 3px;
}
.details, .break-time{
  display: flex;
  justify-content: space-around;
  background: rgb(243, 240, 240);
  border-radius: 8px;
  padding: 10px;
}
.details div{
  margin: 5px;
}
.details h3{
  margin: 0;
  color: gray;
}
.break-time{
  padding: 15px;
}
.break-time span{
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin: 7px;
}
.listen-details{
  text-align: start;
}
.listen-time,.break-time{
  display: flex;
  justify-content: space-between;
  background: rgb(243, 240, 240);
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 18px;
  color: black;
}

.complited-btn{
  padding: 10px 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  color: white;
  border: transparent;
  width: 100%;
  background: rgb(101, 101, 192);
  margin-top: 10px;
}
